<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%-40(%d{dd.MM.yyyy HH:mm:ss} [%thread]) %-5relative %highlight(%-5level) %logger{80} - %msg%n</Pattern>
        </layout>
    </appender>
<!--    <include resource="org/springframework/boot/logging/logback/base.xml" />-->
    <logger name="org.springframework" level="INFO"/>
    <logger name="log4j.category.org.hibernate" level="WARN"/>
    <logger name="log4j.category.org.springframework.web" level="WARN"/>
    <logger name="br.com.sisinfoweb" level="WARN"/>
    <logger name="java.lang.Object" level="DEBUG"/>
    <logger name="org.firebirdsql" level="WARN"/>
    <logger name="org.hibernate" level="INFO"/>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
    
    <!--    <include resource="org/springframework/boot/logging/logback/base.xml" />-->
    <!-- <logger name="org.springframework" level="INFO"/>
    <logger name="log4j.category.org.hibernate" level="DEBUG"/>
    <logger name="log4j.category.org.springframework.web" level="INFO"/>
    <logger name="br.com.sisinfoweb" level="INFO"/>
    <logger name="org.firebirdsql" level="DEBUG"/>
    <logger name="org.hibernate" level="DEBUG"/>
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root> -->

</configuration>